/* Estilos da página index.html */

.center {
    text-align: center;
}

.right { 
    text-align: right;
    margin-right: 3rem;
}

.justify{
    text-align: justify;
}

#menu {
    background-color: #FE8970;
    height: 30px;
}

#menu li{
    display: inline;
    padding: 15px;
;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: #F9E0B0;
}

body {
    background-color: #FFDBD3;
    width: 100vw;
    overflow-x: hidden;
}

.margemesquerda {
    margin-left: 100px;
}

.margemdireita {
    margin-right: 100px;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.tm-social {
    width: 30px;
    height: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}
/* Estilos da página contato.html */

.botaocolorido {
    background-color: #FF7E7E;
    border-bottom-color: #FE0000;
}

.colortext {
    color: #D12600;
}

footer {
    max-height: 15%;
    color: #FF8D8D
}